button {
    display: block;
    font-size: 2rem;
}

.table {
    margin-top: 0.5rem;
    display: flex;
    border: 1px solid;
    width: max-content;
}


.mainTable {
    border-left: 1px solid;
}

td {
    /* border: 1px solid; */
    margin: 0;
    padding: 0 0.4rem;
}

.lastRow span {
    padding-left: 0.5rem;
    padding-right: 1rem;
    color: red;
}