* {	
	font-size: 100%;
	/*margin: 0.1em;*/
	margin: 0;
}

body {
	font-size: 1.5em;
	margin: 1%;
}

header {
	position: fixed;
	top: 0;
	padding: 0.1em;
	width: 97%;
	background-color: white;
	display: flex;
}

input {
	/*position: fixed;
	top: 0.1em;*/
	/*float: right;*/
	font-size: 1.5em;
	max-width: 88%;
	/*width: -webkit-fill-available;*/
}

.play {
	/*float: left;*/
	width: 1.5em;
	height: 1.5em;
	margin: 0.3em;
	/*margin-top: 0.2em;*/
}

main {
	margin-top: 2.6em;
}

a.orig {
	float: right;
	color: green;
}

.found {
	color: red;
	text-decoration: underline;
	cursor: pointer;
}

/* e2u */
td {
	border: 1px solid;
}
/* e2u */

/* cambrigde */
.def {
	color: blue;
	font-size: 0.8em;
	font-style: italic;
}
.trans {
	font-weight: bold;
}
.examp {
	color: green;
	font-size: 0.5em;
	font-style: italic;
	/* display: none; */
}
/* cambrigde */

._2xKEq {
	/*margin-block-start: 0;*/
	/*padding-inline-start: 1em;*/
	list-style: upper-roman;
}
	
._24CCn {
	color: gray;
	font-style: italic;
}

.dir-aware-text-right {
	text-align: right;
}

.icon-dots-vertical {
	display: none;
}	
.py-2 {
	padding: 1%;
	padding-bottom: 0;
	border-top: solid black 2px;
	font-style: italic;
}

.dir-aware-pr-1 {
	/*color: blue;*/
	/*border-bottom: dotted blue 2px;*/
	width: fit-content;
	background-color: #cdfbf0;
}
.truncate {
	color: gray;
	font-size: 0.7em;
	/*float: right;*/
	margin-top: -0.3em;
}