body {
    font-size: 2rem;
}

.block {
    width: 15vw;
    height: 15vw;
    background: black;
    color: white;
    padding: 1em;
}

.left {
    float: left;
    margin-right: 1rem;
}

.right {
    float:right;
    margin-left: 1rem;
}

.clear {
    clear: both;
}

section {
    background: yellow;
    padding: 1em;
}

.overflow {
    display: flow-root;
}