@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
	background: #f9e933;
	/*width: 855px;
	margin: auto;*/
	
	font-family: "droid-sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 100%
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
}

header {
    background: white;
    overflow: auto;
    border-bottom: solid gray 1px;
}

a {
    color: red;
    text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	float: left;
    width: 570px;
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.8em;
}

.amaz {
    font-style: italic;
    color: #d04646;
}

nav {
    margin-top: 1em;
    float: left;
}

main {
	background: white;
	/*overflow: auto;*/
	min-height: 10em;
}

.left-column {
	float: left;
	width: 570px;
}

h2 {
    font-size: 2.2em;
    margin-top: 0.8em;
    margin-bottom: 0.3em;
}

h3 {
    font-size: 1.4em;
    margin-top: 1.5em;
    margin-bottom: 0.4em;
}

/*.right-column {
	float: right;
	width: 285px;
}*/

img {
	margin: 0.3em;
}

.contact {
	float: left;
	width: 570px;
}

h4 {
    font-size: 1.3em;
    margin-top: 2.2em;
    margin-bottom: 1em;
}

.sitemap {
	float: right;
	width: 285px;
}

.sitemap ul {
	margin-right: 4em;
}

.left-block {
	float: left;
}




