body {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem;
    margin: 0;
}


.ol1 {
    list-style-type: lower-alpha;
}

.ol2 {
    list-style-type: decimal-leading-zero;
}

.ol3 {
    list-style-type: disc;
}

.ol4 {
    list-style-type: circle;
}

.ol5 {
    list-style-type: upper-roman;
}

.ol6 {
    list-style-type: none;
}

.first li:nth-child(4) {
    color: red;
}

.first li:nth-child(even) {
    text-decoration: underline;
}

.ol7 {
    list-style-type: upper-alpha;
}

.ul1 {
    list-style-type: square;
}

.ul2 {
    text-align: center;
}

.ul3 {
    text-align: center;
    list-style-position: inside;
}

.ul4 {
    text-align: center;
    list-style-position: outside;
}

.ul5 {
    list-style-image: url("/star.jpg");
}

.ul6 {
    text-align: center;
    list-style: square url("/star.jpg") inside;
}

::marker {
    color: blue;
}

.with-marker {
    margin-left: 5em;
}

.with-marker ::marker {
    color: red;
    content: "Only today! ";
    margin-left: 2em;
}