@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.number {
    font-size: 4rem;
    text-align: center
}

.kanji {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 4rem;
    text-align: center;
}

.furi-roma {
    font-size: 3rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.jap-word {
    display: flex;
    /* flex-wrap: wrap; */
}

.jap-symb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.fu-r {
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.5em;
    /* text-align: center; */
}

.kana {
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: -0.35em;
}

.rule {
    color: green;
}