* {
    font-size: 1.1rem;
}

:root {
    --BGCOLOR: rgb(144, 217, 144);
    --FS: 1.5rem;
    --PADDING1: 0.5rem;
    --SHADOW: 0 6px 5px -5px gray;
    --RED-BORDER: 2px solid red;
}

body {
    background: var(--BGCOLOR);
}

.p1 {
    font-size: var(--FS);
}

.block {
    padding: var(--PADDING1);
    border: var(--RED-BORDER);
}

img {
    display: box;
    max-width: 300px;
    box-shadow: var(--SHADOW);
}