html {
    font-size: 2rem;
}

.j-sent {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Noto Sans JP', sans-serif;
}

.jap-word {
    display: flex;
   margin-right: 0.7em;
}

/* .space {
    width: 0.7em;
} */

.no-roma {
    font-size: 1.2em;
}

.jap-block {
    display: flex;
    align-items: flex-end;
}

.furig {
    font-size: 0.3em;
    font-size: 0.45em;
    font-weight: bold;
    letter-spacing: -2px;
}

.char-block {
    margin-top: -0.40rem;
}