* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* BAD: doesn't count vertical scrollbar */
    width: 100vw;
    /* GOOD: counts vertical scrollbar */
    width: 100%;
    /* doesn't count horizontal scrollbar... */
    min-height: 100vh;

    background: yellow;
}

h1 {
    border: 2px dashed red;
    width: 50%;
    font-size: 3rem;
    padding: 0.3em;
}

main {
    width: 50vw;
    background: skyblue;
}

p {
    font-size: 1.8rem;
    /* 40 characters with the width of 0 */
    width: 40ch;
}