a {
    color: red;
}

a:visited {
    color: rgb(144, 0, 255);
}

a:hover, a:active {
    color: rgb(221, 0, 255);
}

table, tr, th, td, caption {
    border: 2px solid green;
    border-collapse: collapse;
    padding: 0.5rem;
}
