main {
	width: 500px;
	margin: auto;
	background: gray;
	/* to contain all floating element;
	else the height would be 0 */
	overflow: auto;
}

nav {
	/*border: 3px solid black;*/
	width: 100px;
	float: right;
}

nav p {
	margin: 0;
	padding: 0;
}

p.content {
	margin: 0;
	padding: 10px;
	float: left;
	width: 380px;
}
